.dropbtn {
    font-size: 2em;
    border: none;
    cursor: pointer;
    padding-bottom: 8px;
}

.dropdown {
    position: fixed;
    display: inline-block;
    top: 5vh;
    left: 5vw;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #373A36;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #F2F0A1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* .dropdown:hover .dropbtn {
    background-color: #fdec74;
} */